@import "tailwindcss";
@import "tw-animate-css";


@theme {
  /* This generates utilities like bg-primary, text-accent, etc. */
  --color-primary: #121315;
  --color-secondary: #666666; /* Corrected to 6 digits for consistency, assuming typo */
  --color-accent: #ffca3b;
  --color-border: #d7d7d7;

  --box-shadow-custom: 0px 4px 54px 10px rgba(18, 19, 21, 0.06);
}